<app-header></app-header>
<div class="team-formation">
    <div class="player player-lw">LW</div>
    <div class="player player-st">ST</div>
    <div class="player player-rw">RW</div>
  
    <div class="player player-cm">CM</div>
    <div class="player player-cm">CM</div>
    <div class="player player-cm">CM</div>
  
    <div class="player player-lb">LB</div>
    <div class="player player-cb">CB</div>
    <div class="player player-cb">CB</div>
    <div class="player player-rb">RB</div>
  
    <div class="player player-gk">GK</div>
  </div>
  