<app-header [logoColor]="titleColor"></app-header>
<section class="home">
  <div class="home-content">
    <div class="ranking-table">
      <table>
        <thead [ngStyle]="{'color': 'white'}">
          Data Wl : 21/02/2024
          <tr>
            <th>JOGADOR</th>
            <th>POSIÇÃO</th>
            <th>GOLS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
           
            <td>Haaland</td>
            <td>Atacante</td>
            <td class="goals">10</td>
          </tr>
          <tr>
  
            <td>Mbeumo</td>
            <td>Atacante</td>
            <td class="goals">6</td>
          </tr>
          <tr>

            <td>Palmer</td>
            <td>Meio Campo</td>
            <td class="goals">6</td>
          </tr>
          <tr>
    
            <td>Salah</td>
            <td>Atacante</td>
            <td class="goals">5</td>
          </tr>
          <tr>
    
            <td>Salah</td>
            <td>Atacante</td>
            <td class="goals">5</td>
          </tr>
          <tr>
    
            <td>Salah</td>
            <td>Atacante</td>
            <td class="goals">5</td>
          </tr>
          <tr>
    
            <td>Salah</td>
            <td>Atacante</td>
            <td class="goals">5</td>
          </tr>
          <tr>
    
            <td>Salah</td>
            <td>Atacante</td>
            <td class="goals">5</td>
          </tr>
          <tr>
    
            <td>Salah</td>
            <td>Atacante</td>
            <td class="goals">5</td>
          </tr>
        </tbody>
      </table>
      <div class='analysis-wl'>


      </div>
    </div>
    
  </div>


  <div class="analysis-section">
      <h2>Análise da WL Atual</h2>
      <div class="analysis-item">
        <span>Gols feitos nessa WL:</span>
        <span id="gols-feitos">36</span> <!-- Dado vindo da API -->
      </div>
      <div class="analysis-item">
        <span>Média de gols por partida:</span>
        <span id="media-gols">2.7</span> <!-- Dado vindo da API -->
      </div>
      <div class="analysis-item">
        <span>Gols sofridos nessa WL:</span>
        <span id="gols-sofridos">21</span> <!-- Dado vindo da API -->
      </div>
      <div class="analysis-item">
        <span>Média de gols sofridos por partida:</span>
        <span id="media-gols-sofridos">1.5</span> <!-- Dado vindo da API -->
      </div>
      <div class="analysis-comparison">
        <h3>Comparação com a última WL:</h3>
        <span id="comparacao-wl">16% melhor</span> <!-- Dado vindo da API -->
      </div>
    </div>
  
</section>