<section class="home">
  <div class="input-wl" *ngIf="!isTrue">
    <h1>Insira o Número da WL</h1>
    <input [(ngModel)]="id_wl" placeholder="Número da WL" (keyup.enter)="onWlSubmit()" />
  </div>

  <div class="home-content" *ngIf="isTrue">
    <div class="ranking-analysis-wrapper"> <!-- Wrapper para organização vertical -->
      <div class="ranking-table">
        <table>
          <thead [ngStyle]="{'color': 'white'}">
            Análise jogadores
            <tr>
              <th>JOGADOR</th>
              <th>OVERALL</th>
              <th>POSIÇÃO</th>
              <th>GOLS</th>
              <th>ASSISTENCIAS</th>
            </tr>
          </thead>
          <tbody *ngFor="let stat of stats">
            <tr>
              <td>{{ stat.nome }}</td>
              <td>{{ stat.overall }}</td>
              <td>{{ stat.posicao | uppercase }}</td>
              <td>{{ stat.gols_marcados_na_wl }}</td>
              <td>{{ stat.assistencias_na_wl}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="analysis-section" *ngIf="weekendLeague">
        <h2>Análise da WL do dia: {{weekendLeague.data}}</h2>
        <div class="analysis-item">
          <span>Gols feitos nessa WL:</span>
          <span id="gols-feitos">{{totalGols}}</span>
        </div>
        <div class="analysis-item">
          <span>Média de gols por partida:</span>
          <span id="gols-feitos">{{mediaWl | number: '1.2-2' }}</span>
        </div>
        <div class="analysis-item">
          <span>Gols sofridos nessa WL:</span>
          <span id="gols-feitos">{{weekendLeague.gols_sofridos}}</span>
        </div>
        <div class="analysis-item">
          <span>Média de gols sofridos por partida :</span>
          <span id="gols-feitos">{{mediaGolsSofridos | number: '1.2-2'}}</span>
        </div>
        <div class="analysis-item">
          <span>Digite a o numero da wl que deseja comparar : </span>
          <input [(ngModel)]="idWL" placeholder="Numero válido de wl" (keyup.enter)="onWlSubmitComparative()"/>
        </div>
        
       <div class="analysis-section" *ngIf="weekendLeagueComparative">
        <h2>Análise da WL do dia: {{weekendLeagueComparative.data}}</h2>
        <div class="analysis-item">
          <span>Gols feitos nessa WL:</span>
          <span id="gols-feitos">{{weekendLeagueComparative.gols_marcados}}</span>
        </div>
        
        <div class="analysis-item">
          <span>Gols sofridos nessa WL:</span>
          <span id="gols-feitos">{{weekendLeagueComparative.gols_sofridos}}</span>
        </div>
        
      </div>

       
      </div>
     
    </div>
    
  </div>
 
  

</section>
