<header class="header">
  <div class="logo">
    EA FC
  </div>
  <nav class="navbar">
    <a routerLink="/" class="active">
      Home
    </a>
    <a routerLink="new-wl">
      New Wl
    </a>
  </nav>
</header>
<section class="home">
  <div class="home-content">
    <h1>
      Welcome to EA FC WL STATS
    </h1>
    <h3>
      You will be able to store and analyze the statistics of your wl
    </h3>
    <p>
      <a>
      Lorem ipsum colorad adsadsadjaskdjaskdja
      dakdkaldks
      aksldakdldk
      daksldklsksdl
      </a>
    </p>
    <div class="btn-box">
      <a routerLink="/">
        Create New WL
      </a>
      <a>
        See the Current Wl
      </a>
    </div>
  </div>
</section>
