
<header class="header">
  <div class="logo">
    EA FC
  </div>
  <nav class="navbar">
    <a routerLink="/" class="active">
      Home
    </a>
    <a routerLink="new-wl">
      New Wl
    </a>
  </nav>
</header>
<section class="home">
  <div class="home-content">
    <h1>
      Welcome to EA FC WL STATS
    </h1>
    <h3>
      You will be able to store and analyze the statistics of your wl
    </h3>
    <p>
      <a>
      Oi Princesa te amo 
      </a>
    </p>
    <div class="btn-box">
      <button routerLink="/">
        Create New WL
      </button>
      <button>
        See the Current Wl
      </button>
    </div>
  </div>

</section>
