<app-header [logoColor]="titleColor"></app-header>
<section class="home">
  <div class="home-content">
    <h1>
      Welcome to EA FC WL Stats
    </h1>
    <h3>
      Track and analyze your Weekend League performance like never before
    </h3>
    <p>
      Dive into detailed statistics, uncover insights, and elevate your game. Whether you're looking to improve or just review past performances, everything you need is at your fingertips.
    </p>
    <div class="btn-box">
      <button routerLink="/">
        Start a New Weekend League
      </button>
      <button>
        View Current Stats
      </button>
    </div>
  </div>

</section>
